/*
css
*/

#etl_result_datearea_rect {
    fill: #EEE;
    opacity: 70%;
}
#etl_result_job_name_rect {
    fill: #EEE;
    opacity: 70%;
}
#etl_result_result_rect {
    fill: #CCC;
}

.datetime_bar {
    stroke-width: 1;
    stroke: #CCC;
    shape-rendering: crispEdges;
}
.datetime_text {
    font-size: 10pt;
    fill: #999;
}
